
*{
    box-sizing: border-box;
}

html {
    font-size:100%;
}


/*Smartphone*/
.canto {

    position: fixed;
    bottom: -40px;
    width: 110px;
    z-index: 100;
    right: -25px;
 }

body{
    background-color:#32B5D3; /*1ª separação */
    font-family: Dreaming Outloud Script Pro, Arial;
    margin: 0px;
    width:100%;
    border:solid;
    border-color:#32B5D3; /*Linha à volta da página*/

}

header {
    background-color: #F0F0E8; /*Fundo do cabeçalho*/
    display:block;
    color:#514F4F; /*cor texto cabeçalho*/
    text-align:center; 
}


/*h1 {
    font-size: 2rem;
    margin: 0px;
}*/


h2 {
    font-size: 1.5rem;
    margin: 0px;
    text-align:center;
    color: #514F4F;/*subtitulo */
}


/*h3 {
    font-size: 1rem;
    margin: 0px;
    text-align:center;
    color: #e2760a;
}*/


header h2 {
    margin: 0px;
}




/*.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

*/
/*[class*="col-"] {
    width:100%;
}*/


/*nav {
    display:block;
    width:100%;
}*/


/*nav a:link, nav a:visited {
    display: block;
    border-bottom: 3px solid #ffffff;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    margin: 5px;
}*/


/*nav a:hover {
    color: white;
    background-color: #000000;
}*/


section {
    display:block;
    width:100%;
    background-color: #F0F0E8; /*Background da Roleta*/
    margin: 0px;
    padding: 0px;
    border-radius: 10px;
    box-shadow: 2px 2px 20px #6d2dbd; /*sombra barra*/
}

section h2 {
    border-radius: 10px;
    padding: 5px;
    font-size: 1rem;
}

/*section p {
    font-size: 0.9rem;
    margin: 15px;
}*/





footer {
    clear: both;
    display: block;
    background-color: #C0BFA9; /*rodapé*/
    color:#080808;
    text-align:center;
    padding: 15px;
}

footer h2 {
    font-size: 0.8rem;
    color: #514F4F; /*Letra rodapé*/
}






/*.dot {
    height: 13px;
    width: 13px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color .5s ease;
}*/

/*.dotpoints {
    text-align: center;
    position: absolute;
    bottom: 10%;
    left: 45%;
}*/


/*.active {
    background-color: #717171;
}*/

/*.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}*/

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}


#tabletPC {
    display: none;
    }

    svg {
    width: 40px;
    }

    #menu_icon {
    display: block;
    cursor: pointer;
    padding: 0px;
    position: absolute;
    left: 10px;
    z-index: 1000;
}


/*#drawer {
    display: block;
    background-color: #CCCCCC;
    height: 100%;
    width: 60%;
    position: absolute;
    transition: all 0.2s linear;
    transform: translateX(-100%);
    top: 0px;
    border-radius: 10px;
    opacity: 0.95;
    }

    #drawer.open {
    transform: translateX(0);
    }*/



/*Tablets*/

@media only screen and (min-width: 768px) {
    
    #menu_icon {
        display: none;
        }
        #drawer {
        display: none;
        }
        #tabletPC {
        display: block;
        }


    .col-3 {
        width: 25%;
        float: left;
    }

    .col-9 {
        width: 75%;
        float: left;
        padding: 15px;
    }
    
}



/*PC*/

@media only screen and (min-width: 900px) {
    aside {
        display: block;
    }
    .col-2 {
            width: 16.66%;
            float: left;
        } 
    #container {
        width: 58.33%;
        }

    .slideshow-container {
        display: block;
    }
}






/*cronómetro*/
#cronometro {
    font-size: 48px;
    text-align: center;
    margin-bottom: 20px;
  }
  
  button {
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
  }


  /*Roleta*/
  * {
    box-sizing: border-box;
  }
  
  /*body {
    margin: 0;
    padding: 0;
    background-color: #34495e;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
  }*/
  
  .container {
    position: relative;
    width: 500px;
    height: 500px;
    top: 50%;
    left: 23%;
    background-color: #ccc;
    border-radius: 50%;
    border: 15px solid #dde;
    overflow: hidden;
    transition: 5s;
    
  }
 
  .container div {
    height: 50%;
    width: 125px;
    position: absolute;
    clip-path: polygon(100% 0, 50% 100%, 0 0);
    transform: translateX(-50%);
    transform-origin: bottom;
    text-align: center;
    display: flex;
    align-items: left;
    justify-content: center;
    font-size: 30px;
    font-weight: bold;
    font-family: sans-serif;
    color: #fff;
    left: 173px;
  }

  /*torna se mais responsivo
  
  .container {
    position: relative;
    width: 50%;
    padding-bottom: 50%;
    background-color: #ccc;
    border-radius: 50%;
    border: 15px solid #dde;
    overflow: hidden;
    transition: 5s;}

.container::after {
    content: "";
    display: block;
    padding-bottom: inherit;
}

  .container div {
    padding-bottom: 50%;
    width: 50%;
    position: absolute;
    clip-path: polygon(100% 0, 50% 100%, 0 0);
    transform: translateX(-50%);
    transform-origin: bottom;
    text-align: center;
    display: flex;
    align-items: left;
    justify-content: center;
    font-size: 30px;
    font-weight: bold;
    font-family: sans-serif;
    color: #fff;
    left: 60px;
  }*/
  

 
  
  .container .one {
    background-color: #FDD600;
    left: 50%;
  }
  
  .container .two {
    background-color: #A09F96;
    transform: rotate(30deg);
  }
  
  .container .three {
    background-color: #32B5D3;
    transform: rotate(60deg);
  }
  
  .container .four {
    background-color: #FDD600;
    transform: rotate(90deg);
  }
  
  .container .five {
    background-color: #A09F96;
    transform: rotate(120deg);
  }
  
  .container .six {
    background-color: #FFFFFF;
    transform: rotate(150deg);
  }
  
  .container .seven {
    background-color: #F0F0E8;
    transform: rotate(180deg);
  }
  
  .container .eight {
    background-color: #32B5D3;
    transform: rotate(210deg);
  }
  
  .container .nine {
    background-color: #A09F96;
    transform: rotate(240deg);
  }
  
  .container .ten {
    background-color: #FDD600;
    transform: rotate(270deg);
  }
  
  .container .eleven {
    background-color: #32B5D3;
    transform: rotate(300deg);
  }
  
  .container .twelve {
    background-color: #FFFFFF;
    transform: rotate(330deg);
  }
  
  
  
  .arrow {
    position: absolute;
    top: 50%;
    left: -15px;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid white;
  }
  
  .score-board {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    text-align: center;
    color: white;
  }
  
  .score-board h2 {
    font-size: 18px;
    margin-bottom: 5px;
  }
  
  .score-board p {
    font-size: 24px;
    font-weight: bold;
  }
  
  #spin {
    position: absolute;
    top: 108%;
    left: 64%;
    transform: translate(-50%, -50%);
    z-index: 10;
    background-color: #e2e2e2;
    text-transform: uppercase;
    border: 8px solid #514F4F;
    font-weight: bold;
    font-size: 20px;
    color: #514F4F;
    width: 80px;
    height: 80px;
    font-family: sans-serif;
    border-radius: 50%;
    cursor: pointer;
    outline: none;
    letter-spacing: 1px;}
  

